.Pokedex {
  margin: 0 20px;
  text-align: center;
  
}

.Pokedex-title {
  color: grey;
  text-align: center;
}

.Pokedex-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.Pokecard {
  background-color: grey;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 200px;
  margin: auto;
}
.Pokecard h2 {
  color: blue;
  text-align: center;
}

.Pokecard-details {
  text-align: center;
}